## MAC OS
.DS_Store

## TEXTMATE
*.tmproj
tmtags

## EMACS
*~
\#*
.\#*

## VIM
*.swp
tags
*.bundle
*.so

## BUNDLER
.bundle
Gemfile.lock

## YARD
.yardoc
_yardoc
doc

## INTELLIJ/RUBYMINE
.idea

## PROJECT::GENERAL
coverage
rdoc
pkg
jruby-lint.html

## PROJECT::SPECIFIC
*.o
*.obj
*.res
bin/main.c
shoes/version.h
deps
dist
pkg
*.app
docs-*
spec/test_app/pkg
testing
tmp/*

# ignore built gem so you don't commit it accidentally
*.gem