install:
  - cd ..
  - appveyor DownloadFile https://s3.amazonaws.com/jruby.org/downloads/9.1.13.0/jruby-bin-9.1.13.0.zip
  - 7z x jruby-bin-9.1.13.0.zip -y
  - SET PATH=C:\projects\jruby-9.1.13.0\bin;%PATH%
  - cd shoes4
  - gem update --system
  - gem install bundler
  - bundle

build: off

shallow_clone: true

test_script:
  - rubocop -D
  - rake spec:shoes
